:root {
    --navbar-width: 100px;
    --navbar-height: calc(100%vw);
    --highlight-color: #F9BF4D;
    --base-color: #747474;
    --dark-base-color: #444444;
}

abbr {
    text-decoration: none !important;
}

* {
    font-family: 'Comfortaa', Arial;
}

#betterWays_titolo {
    background-image: url(../img/titleHeader.jpg);
    text-align: center;
    color: #F9BF4D;
    font-family: "Bebas Neue" , sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    position: relative; /* Aggiungi "relative" per consentire al contenuto di sovrapporsi allo sfondo */
    z-index: 1000;
    -webkit-text-stroke-color: #f1a918;
    -webkit-text-stroke-width: 0.06px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px red;
}

#map {
    height: calc(100vh - 73px);
    width: auto;
}

/* Formattazione pop-ups */
.popupImage {
    width: 150px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 20px;
    border-radius: 20px;
    object-fit: cover;
}

.popupTitle {
    margin: 0 !important;
    margin-bottom: 10px !important;
    padding-top: 20px;
    font-size: 175%;
    text-align: center;
    font-weight: bold;
    color: white;
}

.popupDescription {
    color: white;
    text-align: left;
    margin: 0 !important;
    font-size: 115%;
    line-height: 1.6;
    overflow: auto;
    overflow-wrap: break-word;
    max-height: 150px;
    background-color: #3f3f3f;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.popupRating {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
    margin-top: 15px;
}

.popupStars {
    height: 35px;
    width: 35px;
}

.popupCompletedButton {
    margin-bottom: 12px;
    display: inline-block;
    margin-left: 50% !important;
    transform: translateX(-50%);
    font-size: 120% !important;
}

.popupCompletedButton:active {
    transform: translate(-50%, 5%) !important;
}

/* Barra scroll popup (e a quanto pare anche del sito) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {     /* Sfondo barra */
    background: #999999 !important;
    border-radius: 50px !important;
}

::-webkit-scrollbar-thumb {     /* Cursore barra */
    background: #696969 !important;
    border-radius: 50px !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #8d8d8d;
}

/* Stile pop-up */
a.leaflet-popup-close-button {
    color: white !important;
    top: 7px !important;
    right: 7px !important;
    background-color: #7c7c7c !important;
    border-radius: 50% !important;
    vertical-align: baseline;
    text-align: center;
    transition: 0.2s;
}

a.leaflet-popup-close-button:hover {
    color: #e6e6e6 !important;
    background-color: #797979 !important;
    scale: 110%;
}

.leaflet-popup-content-wrapper {
    border-radius: 40px 20px 40px 40px !important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #333333 !important;
}

.leaflet-popup-content {
    margin: 13px 20px 13px 20px !important;
    color: white;
    padding-right: 10px;
}

/* Marker pulsante */
#addMarker-btn {
    width: 70px;
    height: 70px;
    background-color: var(--dark-base-color);
    color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 40px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    transition: 0.2s ease-in-out;
    z-index: 1000;
    cursor: pointer;
}


#addMarker-btn:hover {
    scale: 1.15;
}

#addMarker-btn:active {
    transform: translateY(7%);
}

#recenterMap-btn {
    width: 60px;
    height: 60px;
    background-color: var(--dark-base-color);
    color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    font-size: 30px;
    line-height: 0%;
    position: fixed;
    bottom: 2rem;
    left: 1.3rem;
    transition: 0.2s ease-in-out;
    z-index: 1000;
    cursor: pointer;
}

#recenterMap-btn:hover {
    scale: 1.1;
}

#recenterMap-btn:active {
    transform: translateY(7%);
}

/* Menu aggiunta markers */
#addSingleMarkerMenu {
    bottom: 7rem;
    right: 2rem;
}

#packagesMenu, #chiSiamoMenu, #accessibilityMenu, #settingsMenu, #accountMenu {
    top: 5.6rem;
    left: 9rem;
}

#addSingleMarkerMenu, #packagesMenu, #chiSiamoMenu, #accessibilityMenu, #settingsMenu, #accountMenu {
    z-index: 1000;
    width: fit-content;
    height: fit-content;
    position: fixed;
    padding: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    text-align: center;
    background: rgba(37, 37, 37, 0.83);
    box-shadow: 3px 5px 0px 2px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(4px);
    border: 1px solid rgba(37, 37, 37, 0.5);
    scale: 0;
    transition: all 0.2s;
}

.activeMenu {
    scale: 1 !important;
}

#addSingleMarkerMenu {
    width: min-content;
}

#addSingleMarkerMenu select, #packagesMenu select {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
    height: 2rem;
    text-align: center;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 90%;
    cursor: pointer;
    padding-left: 5px;
    padding-right: 10px;
    text-overflow: ellipsis;
}

#addSingleMarkerMenu select option:nth-child(even), #packagesMenu select option:nth-child(even), #languageSwitch select option:nth-child(even) {
    background-color: whitesmoke;
}

#addSingleMarkerMenu button, #packagesMenu button, #accessibilityMenu button, .accountMenuButtons, .popupCompletedButton {
    background-color: rgba(37, 37, 37, 0.5);
    border: 1px var(--highlight-color) solid;
    border-radius: 50px;

    text-align: center;
    line-height: 1.2;
    font-weight: bold;
    color: white;
    white-space: nowrap;
    font-size: 90%;

    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 7px;
    margin-left: 7px;

    cursor: pointer;
    transition: 0.15s ease-in-out;
}

#addSingleMarkerMenu button:hover, #packagesMenu button:hover, #accessibilityMenu button:hover, .accountMenuButtons:hover, .popupCompletedButton:hover {
    background-color: rgba(54, 54, 54, 0.5);
    border: 1px #f8c55f solid;
    box-shadow: 0px 0px 10px 1px rgba(249, 191, 77, 0.7);
}

#addSingleMarkerMenu button:active, #packagesMenu button:active, #accessibilityMenu button:active, .accountMenuButtons:active, .popupCompletedButton:active {
    background-color: rgba(60, 60, 60, 0.5);
    border: 1px var(--base-color) solid;
    box-shadow: 0px 0px 10px 1px rgba(116, 116, 116, 0.7);
    transform: translateY(7%);
}

#addSingleMarkerMenu div, #packagesMenu div, #chiSiamoMenuTitle {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

#packagesMenu div {
    margin-top: 15px;
}

#chiSiamoMenu {
    color: white;
    text-align: left;
    width: 60ch;
}

#chiSiamoMenuTitle,
#accessibilityMenu div,
#settingsMenu > div:first-child,
#accountMenuTitle,
#addSingleMarkerMenu span,
#packagesMenu span {
    color: #F9BF4D;
    text-align: center;
    width: 100%;
    font-size: 2.5ch;
    padding-bottom: 10px;
    font-weight: bold;
    -webkit-text-stroke-color: #f1a918;
    -webkit-text-stroke-width: 1px;
}

#chiSiamoMenu span {
    font-size: 18px;
    line-height: 1.6;
}

#accessibilityMenu img, #settingsMenu img, #accountMenu img{
    height: 15rem;
    width: 15rem;
}

#accountMenu abbr {
    font-size: 250% !important;
}

#legendTitle, #languageSwitch > span {
    text-align: left;
    color: white;
    font-size: 115%;
    font-weight: bold;
    padding-right: 15px;
}

#legend {
    text-align: left;
    display: flex;
    flex-direction: column;
}

#legendContent > div:nth-child(1) {
    color: rgb(255, 0, 0);
}

#legendContent > div:nth-child(2) {
    color: rgb(0, 255, 0);
}

#legendContent > div:nth-child(3) {
    color: var(--highlight-color);
}

#legendContent > div {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

#languageSwitch {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#languageSwitch select {
    border-radius: 200px;
    padding-left: 5px;
    font-size: 100%;
}

/* Navbar */
#navbarWrapper {
    background-color: var(--dark-base-color);
    position: absolute;
    height: var(--navbar-height);
    width: var(--navbar-width);
    z-index: 1000;
    left: 2vh;
    top: 5.5rem;
    display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    border-radius: 25px;
    overflow: hidden;
}

#navbarHeader {
    position: relative;
    background-image: url(../img/titleHeader.jpg);
    text-align: center;
    width: inherit;
    color: var(--highlight-color);
    font-family: "Bebas Neue" , sans-serif;
    font-size: 100%;
    padding: 25px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
        justify-content: center;
        align-items: center;
}

#navbarHeader span {
    font-size: 180%;
    cursor: pointer;
    background-color: var(--base-color);
    border-radius: 50%;
    padding: 15px;
}

#navbarHeader h1 {
    margin: 0;
}

#navbarContent {
    position: relative;
    width: var(--navbar-width);
    height: 0px;
    display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    background-color: var(--dark-base-color);
    overflow: hidden;
    transition: 0.4s ease-in-out;
}

.navButton {
    width: var(--navbar-width);
    display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navButtonInfo {
    font-size: 100%;
    background-color: var(--highlight-color);
    padding: 5px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 5px;
    font-weight: bold;
    color: #5f5f5f;
}

.navButtonIcon {
    font-size: 180% !important;
    background-color: var(--base-color);
    color: var(--highlight-color);
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    transition: 0.2s;
}

.navButtonIcon:hover {
    background-color: #6d6d6d;
}

.navButtonIcon:active {
    transform: translateY(7%);
    box-shadow: inset 0px 2px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: #696969;
}

.navbarSeparator {
    border-color: #292929;
    border-radius: 200px;
    border-width: 2px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    width: calc(var(--navbar-width) - 15px);
}

.leaflet-control-zoom {
    top: 0.4rem !important;
}

@media only screen and (max-height: 600px), (max-width: 600px) {
    #navbarWrapper {
        scale: 80%;
        top: 2rem !important;
    }
}

#bottone_home{
    width: 50px;
    height: 50px;
    background-color: var(--highlight-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    color: var(--base-color);
    font-size: 30px;
    position: fixed;
    right: 2rem;
    top: 0.6rem;
    transition: 0.2s ease-in-out;
    z-index: 1000;
    cursor: pointer;
    border: none;
}

/* Pulsanti menu accessibilità */
#accessibilityMenuContent {
    padding-top: 10px;
}

.accessibility_text, #resetButton, #sliderValue {
    text-align: left;
    color: white;
    font-size: 60% !important;
    font-weight: bold;
    padding-right: 15px;
    -webkit-text-stroke-width: 0px;
}

#resetButton {
    font-weight: normal !important;
    padding: 10px !important;
    line-height: 100% !important;
    margin-right: 0 !important;
}

#sliderValue {
    padding-right: 0;
    width: 3em;
}

.accessibilityMenuContentsContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.accessibilityMenuSwitch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
    margin-right: 13rem;
}

.accessibilityMenuSwitch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.accessibilityMenuSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: var(--base-color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.accessibilityMenuSlider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    top: 4.5px;
    background-color: #3f3f3f;
    border-radius: 50%;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

/* Pulsanti menu accessibilità accesi */
input:checked + .accessibilityMenuSlider {
    background-color: #f1a918;
}

input:checked + .accessibilityMenuSlider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Nascondi widget */
.completedSegmentMenuWidget {
    scale: 0;
}

.itineraryMenuWidget {
    border-radius: 25px !important;
    background: rgba(37, 37, 37, 0.8) !important;
    box-shadow: 3px 5px 0px 2px rgba(0, 0, 0, 0.2) !important;
    backdrop-filter: blur(4px) !important;
    border: 1px solid rgba(37, 37, 37, 0.5) !important;
    color: white;
    font-size: 120%;
}

.itineraryMenuWidgetHidden {
    scale: 0 !important;
}

.leaflet-routing-alt h2, h3 {
    font-size: 110% !important;
}

.leaflet-routing-alt tr:hover {
    background-color: rgba(37, 37, 37, 0.8) !important;
}

.leaflet-routing-alt {
    margin: 10px !important;
    margin-right: 12px !important;
    margin-bottom: 16px !important;
    padding: 8px !important;
    padding-right: 6px !important;
}

/* Tooltip numerazione markers */
.packagesMarkersCustomTooltips, .packagesMarkersCustomTooltipsGold, .packagesMarkersCustomTooltipsGreen {
    background-color: #ff4a4a !important;
    box-shadow: none !important;
    border: none !important;
    color: white !important;
    font-size: 220%;
    line-height: 100%;
    font-weight: bold;
    padding: 3px !important;
    font-family: "Bebas Neue" , sans-serif;
}

.packagesMarkersCustomTooltips::before, .packagesMarkersCustomTooltipsGold::before, .packagesMarkersCustomTooltipsGreen::before {
    scale: 0 !important;
}

.packagesMarkersCustomTooltipsGold {
    background-color: #EFAE45 !important;
}

.packagesMarkersCustomTooltipsGreen {
    background-color: #23CB00 !important;
}

.leaflet-control-zoom {
    border: none !important;
}

.leaflet-control-zoom a {
    background-color: var(--dark-base-color) !important;
    color: var(--highlight-color) !important;
    border: 1px solid var(--base-color) !important;
    transition: 0.2s;
}

.leaflet-control-zoom a:first-child {
    border-radius: 10px 10px 1px 1px !important;
}

.leaflet-control-zoom a:last-child {
    border-radius: 1px 1px 10px 10px !important;
}

.leaflet-control-zoom a:hover {
    scale: 1.05;
}

/* Popup itinerario completato */
#completedItineraryPopup {
    z-index: 1000;
    padding: 1em;
    background-color: var(--dark-base-color);
    color: var(--highlight-color);
    font-weight: bolder;
    font-size: 150%;
    border-radius: 200px;
    transition: 0.3s ease-out;
    scale: 0;
    letter-spacing: 3px;
    text-shadow: 1px 1px 3px red;
    opacity: 95%;
}

#completedItineraryPopupContainer {
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
    scale: 0;
    border-radius: 200px;
}

.isCompletedItineraryPopupShown {
    scale: 1 !important;
}

/* Pulsanti menu account */
#accountMenuButtonsContainer {
    margin-top: 10px;
    display: flex;
}

/* Sezione feedback */
#feedbackSection {
    margin-top: 40px;
}

#feedbackSection div {
    font-size: 120%;
    padding-bottom: 10px;
    font-weight: bold;
}

#feedbackSection a {
    color: var(--highlight-color);
    font-style: italic;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    transition: 0.1s;
}

#feedbackSection a:hover {
    color: #ffce6d;
}

#feedbackSection a:active {
    color: #f7e2b9;
}

/* Accessibility slider */
#fontSlider {
    --spazio: 3px;
    --spessore-linea: 5px;
    --grandezza-cursore: 15px;

    margin-right: 15px;
    -webkit-appearance :none;
    -moz-appearance :none;
    appearance :none;
    background: none;
    cursor: pointer;
    overflow: hidden;
    transition: 0.1s;
}

#fontSlider:active,
#fontSlider:focus-visible{
  --riempimento: var(--grandezza-cursore)
}

#fontSlider[type="range" i]::-webkit-slider-thumb{
    height: var(--grandezza-cursore);
    aspect-ratio: 1;
    border-radius: 50%;
    box-shadow: 0 0 0 var(--riempimento,var(--spessore-linea)) inset var(--highlight-color);
    border-image: linear-gradient(90deg,var(--highlight-color) 50%,#ababab 0) 0 1/calc(50% - var(--spessore-linea)/2) 100vw/0 calc(100vw + var(--spazio));
    -webkit-appearance: none;
    appearance: none;
    transition: .3s;
}