* {
    font-family: 'Comfortaa', Arial;
}

#betterWays_titolo2 {
    background-image: url(./img/titleHeader.jpg);
    text-align: center;
    color: #F9BF4D;
    font-family: "Bebas Neue" , sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    position: relative; /* Aggiungi "relative" per consentire al contenuto di sovrapporsi allo sfondo */
    letter-spacing: 5px;
}

#img_logo {
    width: 20px;
    height: 20px;
}

#sliding_imgs_a {
    width: 5rem;
    height: 4rem;
    float: left;
}

#img_mappa {
    width: 25rem;
    height: 15rem;
    position: absolute;
    text-align: center;

}

#central_img:hover {
    transform: scale(1.1);
    transition: 1s;
}

#grigio {
    width: 0;
    height: 0;
    
    opacity: 100%;
    position: absolute;
    text-align: center;
}

#grigio:hover {
    opacity: 60%;
    width: 25rem;
    height: 15rem;
    transition: 1s;
}

#sliding_imgs_b {
    width: 5rem;
    height: 7rem;
    position: absolute;
    float: right;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

body {
    background-image: url(img/sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
