* {
    font-family: 'Comfortaa', Arial;
}

body {
    background-image: url(img/sfondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#betterWaysTitolo {
    background-image: url(./img/titleHeader.jpg);
    text-align: center;
    color: #F9BF4D;
    font-family: "Bebas Neue" , sans-serif;
    font-size: 3.2rem;
    margin: 0;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100%;
    position: relative; /* Aggiungi "relative" per consentire al contenuto di sovrapporsi allo sfondo */
    z-index: 1000;
    -webkit-text-stroke-color: #f1a918;
    -webkit-text-stroke-width: 0.06px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 5px red;
}

#content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: calc(100vh - 73px);
}

/* Mappa */
#map {
    position: relative;
    border-radius: 25px;
}

#map img {
    width: 40rem;
    border-radius: 25px;
    border: 1.5px solid #F9BF4D;
    box-shadow: 0 0 10px #F9BF4D;
    transition: 0.3s;
}

#mapOverlay {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.35);
    border-radius: 25px;
    opacity: 0;
    transition: 0.3s;
}

#mapOverlay:hover {
    opacity: 1;
    transform: scale(1.03);
}

#mappaLink {
    background-color: #2d2d2d;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 1em;
    font-weight: bold;
    font-size: 20px;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.3s;
    border-radius: 20px;
}

#map:hover img {
    transform: scale(1.03);
}

#map:hover #mappaLink {
    opacity: 1;
}

#map span {
    display: inline-block;
    position: relative;
}
  
#map span::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #F9BF4D;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 25px;
}

#map span:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* Sliding images */

.slidingImageLeft, .slidingImageRight {
    display: none;
    width: 30rem;
    border: 1.5px solid #F9BF4D;
    box-shadow: 0 0 10px #F9BF4D;
    border-radius: 15px;
    transition: 0.3s ease-in-out;
}

#slidingImages1, #slidingImages2 {
    position: relative;
}

/* Bottoni sliding images */
#slidingImages1 button, #slidingImages2 button {
    border: none;
    background-color: #363636;
    color: #F9BF4D;
    padding: 5px;
}

#slidingImages1 button:first-of-type,
#slidingImages2 button:first-of-type {
    position: absolute;
    top: 50%;
    left: 0%;
    border-radius: 0px 100px 100px 0px;
    transform: translateY(-50%);
}

#slidingImages1 button:first-of-type span,
#slidingImages2 button:first-of-type span {
    transition: 0.2s;
}

#slidingImages1 button:first-of-type:hover span,
#slidingImages2 button:first-of-type:hover span {
    transform: translateX(-25%);
}

#slidingImages1 button:nth-of-type(2) span,
#slidingImages2 button:nth-of-type(2) span {
    transition: 0.2s;
}

#slidingImages1 button:nth-of-type(2):hover span,
#slidingImages2 button:nth-of-type(2):hover span {
    transform: translateX(25%);
}

#slidingImages1 button:nth-of-type(2),
#slidingImages2 button:nth-of-type(2) {
    position: absolute;
    top: 50%;
    right: 0%;
    border-radius: 100px 0px 0px 100px;
    transform: translateY(-50%);
}

#slidingImages1 button:hover,
#slidingImages2 button:hover {
    cursor: pointer;
}


/* "Responsive" */

@media only screen and (max-height: 600px), (max-width: 1700px) {
    #map img {
        width: 30rem;
    }

    .slidingImageLeft, .slidingImageRight {
        width: 20rem;
    }
}

@media only screen and (max-width: 1180px) {
    #map img {
        width: 25rem;
    }

    .slidingImageLeft, .slidingImageRight {
        width: 15rem;
    }
}

@media only screen and (max-width: 890px) {
    #content {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 80px;
        flex-direction: column;
    }

    #map img {
        width: 15rem;
        height: 20rem;
        object-fit: cover;
    }
}