* {
    font-family: 'Comfortaa', Arial;
}

body {
    margin: 0;
    padding: 0;
}

#betterWays_titolo {
    text-align: center;
}

#map {
    height: 100vh;
    width: auto;
}

.popupImage {
    width: 60px;
    height: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.popupTitle {
    margin: 0 !important;
    padding-top: 20px;
    font-size: 150%;
    text-align: center;
}