* {
    margin: 0;
    padding: 0;
}

/* Icon Creation */
#hamburgerMenu {
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
  
#hamburgerMenu span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

/* Icon animation */
#hamburgerMenu span:nth-child(1) {
    top: 0px;
    background: #eec042;
}

#hamburgerMenu span:nth-child(2),#hamburgerMenu span:nth-child(3) {
    top: 18px;
    background: #8a6709;
}

#hamburgerMenu span:nth-child(4) {
    top: 36px;
    background: #eec042;
}

#hamburgerMenu.open span {
    background: #b42727;
}

#hamburgerMenu.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#hamburgerMenu.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburgerMenu.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburgerMenu.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}